@using Vacations.Controllers
@{
    ViewData["Title"] = "Home Page";
    var CurrentUserName = ViewBag.CurrentUserName;
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в сервис учета отпусков</h1>
    <fieldset>
        @if (CurrentUserName == null)
        {
            <h1> <a href="@Url.Action(nameof(LoginController.Index), "Login", new { ReturnPath = "/Vacations/Index" })">Войти</a></h1>
        }
        <a href="@Url.Action(nameof(EmployeesController.Index), "Employees")"><p>List of employees<p></a>
    <a href="@Url.Action(nameof(DepartmentController.Index), "Department")"><p>List of departments<p></a>
    <a href="@Url.Action(nameof(VacationsController.Index), "Vacations")"><p>List of vacations<p></a>
    </fieldset>

    <div class="form-group">
        <input type="submit" value="Вход" class="btn btn-primary" />
    </div>
</div>
