################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Vacations/.vs/Vacations/FileContentIndex/a5125246-c934-4f75-9679-0206f3bd85b3.vsidx
*.vsidx
