@using Vacations_DomainModel.Models.Identity
@model User
<div>
    <label style="width:200px"> Табельный номер </label>
    @Html.EditorFor(model => model.FirstName)
</div>
<div>
    <label style="width:200px"> Пароль</label>
    @Html.EditorFor(model => model.LastName)
</div>
